# .gitattributes  0.0.1             UTF-8                        5:08 PM 3/28/2021
#
#                GIT ATTRIBUTES FOR THE openoffice-docs GIT REPOSITORY

# There are currenly no files to be ignored
# This file is here in case it is needed in future
